/* body{
    margin: 0;
    font-family: sans-serif;
    color: green;
} */
*{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    /* border: 1px solid #aaa; */
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    /* border-radius: 4px; */
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    text-align: center;
}

#content {
    width: 70%;
}

table {
    border-collapse:separate;
    border-spacing: 0;
    border: solid rgb(22, 79, 22) 4px;
    border-radius:6px;
}

td, th {
    border-left: solid rgb(22, 79, 22) 4px;
    border-top: solid rgb(22, 79, 22) 4px;
}

th {
    /* background-color: blue; */
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

a{
    text-decoration: none;
    background-color: grey;
    padding: .5rem;
    border-radius: 4px;
    display: block;
    color: white;
}

a.update{
    /* color: rgb(37, 175, 37); */
    background-color: ;
    margin-bottom: .5rem;
}
a.delete{
    /* color: rgb(199, 49, 49); */
}

.actions{
    gap: .5rem;
}